@model Blog

@{
    ViewData["Title"] = "BlogsDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<style>
    .user-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .comment-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .submit {
        margin-top: 15px;
    }

    .btn-style {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-style:hover {
            background-color: #2980b9;
        }

    .pinned-comment {
        border: 2px solid #e67e22;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 15px;
        position: relative;
    }

        .pinned-comment::before {
            content: "📌 Sabitlenmiş Yorum";
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 1rem;
            color: #e67e22;
            font-weight: bold;
        }
</style>

<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <div class="blog-content wow fadeInUp" data-wow-delay="1s">
                    <h3>@Model.Description , feautreuserıd = @ViewBag.Featurefilter , userıd:@ViewBag.AppuserId</h3>
                    <span class="meta-date"><a href="#">@(((DateTime)Model.CreatedDate).ToString("dd-MMM-yyyy"))</a></span>
                    <span class="meta-comments"><a href="#blog-comments">BURAYA BEĞENİ SAYISI EKLENİCEK</a></span>
                    <span class="meta-author"><a href="#blog-author">@Model.AppUser.Name</a></span>
                    <div class="blog-clear"></div>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa.</p>

                    <div class="blog-image wow fadeInUp" data-wow-delay="0.9s">
                        <img src="@Model.CoverImage" class="img-responsive" alt="blog">
                    </div>

                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quisquam, aut, eum, natus excepturi impedit ipsa rerum ratione id dolores ducimus minus eos quod veniam similique fugit illum error facilis!
                    </blockquote>
                    <p>Sed tempus elementum purus. Maecenas porta lobortis dui, vitae ornare lacus iaculis eu. Sed in tristique mauris. Sed vel nulla mi. Aliquam vulputate hendrerit fermentum. Nullam at ornare elit. Nulla ut commodo nulla. Nam bibendum feugiat enim nec lobortis. Etiam hendrerit blandit augue lacinia finibus.</p>
                </div>

                <div class="blog-author wow fadeInUp" data-wow-delay="1s">
                    <div class="media">
                        <div class="media-object pull-left">
                            <a href="#"><img src="/memberimages/@Model.AppUser.ImageUrl" class="img-responsive user-image" alt="blog"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@Model.AppUser.Name @Model.AppUser.Surname</h4>
                            <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur.</p>
                        </div>
                    </div>
                </div>

                <div class="blog-like">
                    @if (ViewBag.LikeCount > 0)
                    {
                        <span class="like-count">@ViewBag.LikeCount</span>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Html.PartialAsync("/Views/Blogs/LikeCount.cshtml", new CoreLayer.Models.BlogFeature())
                    }
                    else
                    {
                        <a href="/SignIn/SignIn">Lütfen like atmak için giriş yapınız!</a>
                    }
                </div>

                <div class="blog-comment wow fadeInUp" data-wow-delay="1s">
                    <h3>Yorumlar</h3>
                    @foreach (var item in Model.Comments)
                    {
                        @if (item.PinnetComment == true)
                        {
                            <div class="media pinned-comment">
                                @if (item.AppUser != null && item.AppUser.ImageUrl != null)
                                {
                                    <img src="/memberimages/@item.AppUser.ImageUrl" class="img-responsive comment-image" alt="blog">
                                }
                                else
                                {
                                    <img src="/path/to/default/image.jpg" class="img-responsive comment-image" alt="default">
                                }
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        @item.AppUser.Name @item.AppUser.Surname
                                    </h4>
                                    <p>@item.CommentContent</p>
                                    @if (Model.AppUserId == @ViewBag.AppuserId)
                                    {
                                        <a class="btn btn-danger" asp-action="UnpinComment" asp-controller="Blogs" asp-route-id="@item.Id">Sabitlemeyi Kaldır</a>
                                    }
                                </div>
                            </div>
                        }
                    }
                    @foreach (var item in Model.Comments)
                    {
                        @if (item.PinnetComment == false)
                        {
                            @if (item.AppUser != null)
                            {
                                <div class="media">
                                    @if (item.AppUser.ImageUrl != null)
                                    {
                                        <img src="/memberimages/@item.AppUser.ImageUrl" class="img-responsive comment-image" alt="blog">
                                    }
                                    else
                                    {
                                        <img src="/path/to/default/image.jpg" class="img-responsive comment-image" alt="default">
                                    }
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            @item.AppUser.Name @item.AppUser.Surname
                                        </h4>
                                        <h5>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</h5>
                                        <p>@item.CommentContent</p>
                                        @if (Model.AppUserId == @ViewBag.AppuserId)
                                        {
                                            <a class="btn btn-success" asp-action="PinComment" asp-controller="Blogs" asp-route-id="@item.Id">Yorumu Sabitle</a>
                                        }
                                    </div>
                                </div>
                                <hr style="border: 1px solid #ddd; margin: 20px 0;">
                            }
                            else
                            {
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            Bilinmeyen Kullanıcı
                                        </h4>
                                        <h5>@(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</h5>
                                        <p>@item.CommentContent</p>
                                        @if (Model.AppUserId == @ViewBag.AppuserId)
                                        {
                                            <a class="btn btn-success" asp-action="PinComment" asp-controller="Blogs" asp-route-id="@item.Id">Yorumu Sabitle</a>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    }
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="leave-comment-form mt-5" id="reply">
                        <h4 class="side-title mb-2">Bir Yorum Bırakın</h4>
                        <form method="post" asp-action="AddComment" asp-controller="Blogs">
                            <input type="text" name="BlogId" value="@Model.Id" />
                            <input type="text" name="AppUserId" value="@ViewBag.AppuserId" />
                            <textarea name="CommentContent" id="" cols="30" rows="5" class="form-control"></textarea>
                            <button type="submit" class="btn btn-style submit">Yorum Gönder</button>
                        </form>
                    </div>
                }
                else
                {
                    <div style="text-align: center;">
                        <a asp-controller="Login" asp-action="SignIn">Lütfen yorum yapmak için giriş yapınız!</a>
                    </div>
                }

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var commentInput = document.querySelector(".comment-input");
                        commentInput.style.height = "150px";
                    });
                </script>
            </div>

            <div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="1.3s">
                @await Component.InvokeAsync("_LastBooks")
                @await Component.InvokeAsync("_LastBlogs")
            </div>
        </div>
    </div>
</section>
