@model List<Package>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<style>
    #package {
        background: url('/images/parallax-background.jpg') no-repeat center center fixed;
        background-size: cover;
        padding: 60px 0;
        color: #fff;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .card-body {
        background-color: #fff;
        color: #333;
        padding: 20px;
        text-align: center;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn-outline-info {
        color: #00374d;
        border-color: #00374d;
        background-color: #fff;
        border-radius: 20px;
        padding: 8px 16px;
        font-weight: bold;
        font-size: 0.9rem;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

        .btn-outline-info:hover {
            background-color: #00374d;
            border-color: #00374d;
            color: #fff;
        }

    #package .container .row.text-center.mb-4 {
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 30px 0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

        #package .container .row.text-center.mb-4 p.title {
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
            font-size: 3rem;
        }

    .card-text {
        font-size: 1.1rem;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .card-text strong {
            font-size: 1.2rem;
        }

        .card-text .app-user-name {
            font-weight: bold;
            position: relative;
            margin: 20px 0;
        }

            .card-text .app-user-name::before,
            .card-text .app-user-name::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                border-bottom: 2px solid #333;
            }

            .card-text .app-user-name::before {
                top: -10px;
            }

            .card-text .app-user-name::after {
                bottom: -10px
            }

        .card-text.price {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 8px;
            display: inline-block;
        }


    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }


    .text-center {
        text-align: center;
    }

</style>

<section id="package" class="parallax-section">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-md-12">
                <p class="title">DİYETİSYEN PAKETLERİ</p>
                <br />
                <p>Sağlıklı bir yaşam için size en uygun diyetisyen paketini seçin ve hedeflerinize adım adım ulaşın! 🥗</p>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
            @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                var user = await UserManager.GetUserAsync(User);
            @inject CoreLayer.Services.IBasketService BasketService
                var UserBasket = await BasketService.GetBasketByAppUserIdAsync(user.Id);
                var isInBasket = UserBasket.Any(b => b.PackageIdentity == item.Id);
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0 rounded-lg">
                        <img src="/packagesimages/@item.Image" class="card-img-top" alt="package">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text price"><strong>@item.Price ₺</strong></p>
                            <p class="card-text app-user-name"><strong>@item.AppUser.Name @item.AppUser.Surname</strong></p>
                            <p class="card-text app-user-name"><strong>Uzman Diyetisyen - @item.AppUser.City</strong></p>
                            <a asp-controller="Package" asp-action="PackageDetail" asp-route-Id="@item.Id" class="btn btn-outline-info">İncele</a>
                            @if(isInBasket)
                            {
                            <a asp-controller="Package" asp-action="RemoveFromBasket" asp-route-Id="@item.Id" class="btn btn-outline-danger">Sepetten Çıkar</a>
                            }
                            else
                            {
                                <a asp-controller="Package" asp-action="AddItemBaskets" asp-route-Id="@item.Id" class="btn btn-outline-info">Sepete Ekle</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>




