@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>


    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

        .table thead {
            background-color: #343a40;
            color: #ffffff;
        }

        .table th, .table td {
            padding: 12px 15px;
            text-align: center;
        }

        .table th {
            font-weight: bold;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #e9ecef;
        }

    /* Buton stili */
    .btn {
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-success {
        background-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
        }

    .btn-primary {
        background-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-danger {
        background-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .hide-column {
        display: none;
    }
</style>
<h2 style="text-align: center; margin-top: 20px; color: #343a40;">Sertifika Sayfası</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="hide-column">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Sertifika</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.AppNutriId != null)
            {
                <tr>
                    <th scope="row" class="hide-column">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.UserName</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.CertificateImage))
                        {
                            <a href="@Url.Action("DownloadCertificate", "CertificateVerify", new { certificateName = item.CertificateImage })" class="btn btn-success">Sertifikayı İndir</a>
                        }
                        else
                        {
                            <span>❌</span>
                        }
                    </td>
                    <td>
                        @switch (item.CertificateStatus)
                        {
                            case CertificateStatus.NotSubmitted:
                                <span style="color: #ffc107;">Sertifika Yüklenmedi</span>
                                break;
                            case CertificateStatus.Pending:
                                <a class="btn btn-success" asp-area="Admin" asp-action="VerifyCertificate" asp-controller="CertificateVerify" asp-route-id="@item.Id">Sertifikayı Doğrula</a>
                                <a class="btn btn-danger" asp-area="Admin" asp-action="InvalidateCertificate" asp-controller="CertificateVerify" asp-route-id="@item.Id">Sertifikayı Geçersiz Kıl</a>
                                break;
                            case CertificateStatus.Approved:
                                <span style="color: #28a745;">Sertifika Onaylandı</span>
                                <a class="btn btn-primary" asp-area="Admin" asp-action="UndoCertificate" asp-controller="CertificateVerify" asp-route-id="@item.Id">Geri Al</a>
                                break;
                            case CertificateStatus.Invalid:
                                <span style="color: red;">Sertifika Geçersiz Kılındı</span>
                                break;
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
