@model Blog
@{
    ViewData["Title"] = "BlogsDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<style>
    .user-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
</style>

<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-7">

                <div class="blog-content wow fadeInUp" data-wow-delay="1s">
                    <h3>@Model.Description , feautreuserıd = @ViewBag.Featurefilter , userıd:@ViewBag.AppuserId  </h3>
                    <span class="meta-date"><a href="#">@(((DateTime)Model.CreatedDate).ToString("dd-MMM-yyyy"))</a></span>
                    <span class="meta-comments"><a href="#blog-comments">BURAYA BEĞENİ SAYISI EKLENİCEK</a></span>
                    <span class="meta-author"><a href="#blog-author">@Model.AppUser.Name</a></span>
                    <div class="blog-clear"></div>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa.</p>

                    <div class="blog-image wow fadeInUp" data-wow-delay="0.9s">
                        <img src="@Model.CoverImage" class="img-responsive" alt="blog">
                    </div>

                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quisquam, aut, eum, natus excepturi impedit ipsa rerum ratione id dolores ducimus minus eos quod veniam similique fugit illum error facilis!
                    </blockquote>
                    <p>Sed tempus elementum purus. Maecenas porta lobortis dui, vitae ornare lacus iaculis eu. Sed in tristique mauris. Sed vel nulla mi. Aliquam vulputate hendrerit fermentum. Nullam at ornare elit. Nulla ut commodo nulla. Nam bibendum feugiat enim nec lobortis. Etiam hendrerit blandit augue lacinia finibus.</p>
                </div>

                <div class="blog-author wow fadeInUp" data-wow-delay="1s">
                    <div class="media">
                        <div class="media-object pull-left">
                            <a href="#"><img src="/memberimages/@Model.AppUser.ImageUrl" class="img-responsive  user-image" alt="blog"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@Model.AppUser.Name @Model.AppUser.Surname</h4>
                            <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur.</p>
                        </div>
                    </div>
                </div>
                <div>

                    @if (ViewBag.Featurefilter == ViewBag.AppuserId && ViewBag.Status == true)
                    {
                        



                        @await Html.PartialAsync("/Views/Blogs/LikeBack.cshtml" , new CoreLayer.Models.BlogFeature())
                    }
                 
                    @if (ViewBag.LikeId == null)
                    {
                        
                        @await Html.PartialAsync("/Views/Blogs/LikeCount.cshtml" , new CoreLayer.Models.BlogFeature())
                    }

                    @if (ViewBag.Featurefilter == ViewBag.AppuserId && ViewBag.Status == false)
                    {
                        



                        @await Html.PartialAsync("/Views/Blogs/UnLikeBack.cshtml" , new CoreLayer.Models.BlogFeature())
                    }
                    



                </div>

                @await Component.InvokeAsync("_ListComment", new { id = ViewBag.BlogId })

                @await Html.PartialAsync("~/Views/Comment/_CommentPartial.cshtml", new CoreLayer.Models.Comment())

            </div>

            <div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="1.3s">
                @await Component.InvokeAsync("_LastBooks")
                @await Component.InvokeAsync("_LastBlogs")

            </div>


        </div>
    </div>
</section>

