@model List<Package>
@{
    ViewData["Title"] = "PackageList";
    Layout = "~/Views/Shared/_NutritionistLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Paketleriniz</h4>
                </div>

                <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                    <tr>
                        <th>
                            Resim
                        </th>
                        <th>
                            Başlık
                        </th>
                        <th>
                            Paket İçeriği
                        </th>
                        <th>
                            Fiyat
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            İşlemler
                        </th>
                    </tr>

                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <img src="/packagesimages/@item.Image" alt="" style="width: 100px; height: auto;" />
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Price TL
                                </td>
                                <td>
                                    @if (@item.Remove == false)
                                    {
                                        <a asp-area="Nutritionist" asp-controller="Package" asp-action="HidePackage" asp-route-id="@item.Id" class="btn btn-outline-dark">Paylaşımı Gizle</a>
                                    }
                                    @if (@item.Remove == true)
                                    {
                                        <a asp-area="Nutritionist" asp-controller="Package" asp-action="PublishPackage" asp-route-id="@item.Id" class="btn btn-outline-success">Tekrar Paylaş</a>
                                    }
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Package" asp-action="Index" asp-route-Id="@item.Id" class="btn btn-outline-primary">Sitede Gör</a>

                                    <a asp-area="Nutritionist" asp-controller="Package" asp-action="EditPackage" asp-route-id="@item.Id" class="btn btn-outline-warning">Düzenle</a>

                                    <a asp-area="Nutritionist" asp-controller="Package" asp-action="RemovePackage" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <div style="text-align: center;" class="section-title">
                                        <h5 class="text-danger">Paket paylaşımınız bulunmamamaktadır...</h5>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                @if (ViewBag.Donate != null && ViewBag.Donate.Count > 0)
                {
                    foreach (var donateItem in ViewBag.Donate)
                    {
                        @switch (donateItem.DonationStatus)
                        {
                            case DonationStatus.Approved:
                                <a asp-area="Nutritionist" asp-controller="Package" asp-action="AddPackage" class="btn btn-outline-success">Yeni Paket Ekle</a>
                                break;
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<br />
<br />


<!------------ Donation Receipt Status -------------->
<div class="card mb-2">
    <div class="card-body">
        @if (ViewBag.Donate != null && ViewBag.Donate.Count > 0)
        {
            foreach (var donateItem in ViewBag.Donate)
            {
                @switch (donateItem.DonationStatus)
                {
                    case DonationStatus.NotSubmitted:
                        <div class="alert alert-warning text-center" role="alert">
                            <h5 class="alert-heading">Dekont Onay Bekliyor ⏳</h5>
                            <p>Dekontunuz başarıyla yüklendi ve onay sürecindedir; onaylandığında sizi bilgilendireceğiz. Desteğiniz için şimdiden teşekkür ederiz!</p>
                        </div>
                        break;
                    case DonationStatus.Approved:
                        <div class="alert alert-success text-center" role="alert">
                            <h5 class="alert-heading">🎉 Bağış Dekontunuz Onaylandı! 🌟</h5>
                            <p>Destekleriniz için teşekkür ederiz. Katkılarınız, derneğin faaliyetlerinin sürdürülebilirliğine önemli bir destek sağlayacaktır.</p>

                        </div>
                        break;
                    case DonationStatus.Invalid:
                        <div class="alert alert-danger text-center" role="alert">
                            <h5 class="alert-heading">Dekont Ret Edildi ❌</h5>
                            <p>Dekontunuz kabul edilmedi. Lütfen yeni bir dekont yükleyin.</p>
                            <a class="btn btn-light mt-3 rounded-pill shadow-sm" asp-area="Nutritionist" asp-controller="Donate" asp-action="DonateCheck">Yeni Dekont Yükle 📤</a>
                        </div>
                        break;
                }
            }
        }
        else
        {
            <div class="alert alert-light text-center" role="alert" style="background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <h5 class="alert-heading" style="font-weight: bold; color: #333;">Paket paylaşımı için aşağıdaki adımları izleyin 😊👇</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><i class="fas fa-check-circle text-success"></i> Derneklerden birine bağış yapın.</li>
                    <li><i class="fas fa-check-circle text-success"></i> Bağış dekontunuzu bizimle paylaşın.</li>
                    <li><i class="fas fa-check-circle text-success"></i> Dekontunuzu yüklemek için butona tıklayın.</li>
                </ul>
                <a class="btn btn-outline-primary mt-3 rounded-pill shadow-sm" href="@Url.Action("AddDonateReceipt", "Donate", new { area = "Nutritionist" })" style="font-weight: bold;">Bağış Dekontu Yükle 📥</a>
                <div class="mt-3">
                    <p class="mb-0">Derneklerin listesini görmek için <a href="@Url.Action("Index", "Association", new { area = "" })" style="color: #007bff; text-decoration: underline;">buraya tıklayın!</a></p>
                </div>
            </div>
        }
    </div>
</div>
